In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
vars_df=pd.read_csv('Output/new_clean_data.csv', low_memory=False)

In [3]:
vars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603029 entries, 0 to 603028
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       603029 non-null  int64
 1   VAERS_ID         603029 non-null  int64
 2   RECVDATE         603029 non-null  object
 3   STATE            548870 non-null  object
 4   AGE_YRS          603029 non-null  int64
 5   SEX              603029 non-null  object
 6   DIED             5487 non-null    object
 7   DATEDIED         5189 non-null    object
 8   L_THREAT         9042 non-null    object
 9   HOSPDAYS         22051 non-null   float64
 10  X_STAY           826 non-null     object
 11  DISABLE          9041 non-null    object
 12  RECOVD           548212 non-null  object
 13  NUMDAYS          566751 non-null  float64
 14  FORM_VERS        603029 non-null  int64
 15  ALLERGIES        312592 non-null  object
 16  REPORT_DATE      597472 non-null  object
 17  VAX_TYPE         603029 non-null  object
 18  VAX_MANU         603029 non-null  object
 19  VAX_DOSE_SERIES  596372 non-null  object
 20  HOSP_VISIT       201507 non-null  object
dtypes: float64(2), int64(4), object(15)
memory usage: 96.6+ MB

In [4]:
print(vars_df.DIED.value_counts())

Y    5487
Name: DIED, dtype: int64

In [5]:
bins = [10, 20,30,40,50,60,70,80,90,100,110]
age_group = ['10-20', '20-30', '30-40', '40-50', '50-60', '60-70', '70-80', '80-90', '90-100', '>100']

vars_df['Age Ranges']=pd.cut(vars_df.AGE_YRS, bins, labels=age_group)

age_vars_died_df=vars_df.sort_values('AGE_YRS').groupby(['Age Ranges']).count()
age_vars_died_df

,Unnamed: 0,VAERS_ID,RECVDATE,STATE,AGE_YRS,SEX,DIED,DATEDIED,L_THREAT,HOSPDAYS,...,DISABLE,RECOVD,NUMDAYS,FORM_VERS,ALLERGIES,REPORT_DATE,VAX_TYPE,VAX_MANU,VAX_DOSE_SERIES,HOSP_VISIT
Age Ranges,,,,,,,,,,,,,,,,,,,,,
10-20,53962,53962,53962,47502,53962,53962,116,89,663,1882,...,656,48457,48447,53962,17783,53354,53962,53962,53446,16480
20-30,67338,67338,67338,60043,67338,67338,77,68,662,1623,...,659,60346,63887,67338,33231,66847,67338,67338,66601,21607
30-40,86900,86900,86900,78695,86900,86900,145,137,1027,2177,...,1014,78661,83772,86900,50092,86337,86900,86900,86059,29924
40-50,87193,87193,87193,79835,87193,87193,258,238,1289,2405,...,1287,79511,83699,87193,50953,86576,87193,87193,86370,30354
50-60,104099,104099,104099,95547,104099,104099,491,449,1564,3280,...,1737,95286,98193,104099,57456,103182,104099,104099,102937,33741
60-70,115665,115665,115665,106878,115665,115665,1073,1021,1859,4391,...,1976,106656,107635,115665,59940,114451,115665,115665,114200,36756
70-80,64050,64050,64050,59015,64050,64050,1345,1286,1258,3746,...,1155,58290,59186,64050,32276,63249,64050,64050,63219,22613
80-90,20197,20197,20197,18177,20197,20197,1386,1326,575,2102,...,470,17905,18551,20197,9142,19900,20197,20197,19947,8473
90-100,3520,3520,3520,3086,3520,3520,563,545,142,435,...,84,3019,3286,3520,1664,3471,3520,3520,3488,1526
>100,92,92,92,80,92,92,33,30,3,10,...,3,71,85,92,54,92,92,92,92,32

In [30]:
numdays_avg=(age_vars_died_df.HOSPDAYS/age_vars_died_df.VAERS_ID)
numdays_avg

Age Ranges
10-20     0.034876
20-30     0.024102
30-40     0.025052
40-50     0.027582
50-60     0.031508
60-70     0.037963
70-80     0.058486
80-90     0.104075
90-100    0.123580
>100      0.108696
dtype: float64

In [42]:
age_died_df=age_vars_died_df['DIED']
df = pd.DataFrame({"Died":age_died_df,"Numdays_Avg":numdays_avg})
df

            Died  Numdays_Avg
Age Ranges
10-20        116     0.034876
20-30         77     0.024102
30-40        145     0.025052
40-50        258     0.027582
50-60        491     0.031508
60-70       1073     0.037963
70-80       1345     0.058486
80-90       1386     0.104075
90-100       563     0.123580
>100          33     0.108696